body{
    background-color: cadetblue;
    color:rgb(47, 7, 141);
}
h1{
    color:pink;
    font-size: 50px;
}
h2{
    color:pink;
    font-size: 50px;
}
h3{
    color:pink;
    font-size: 50px;
}
ol.Part3>li{
    list-style-type: circle;
}
ol.Part3innerol{
    list-style-type: upper-roman;
    color: black;
}
