.container {
  background-color: blue;
  width: auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.item {
  background-color: aqua;
  color: blue;
  font-size: 50px;
  width: 100px;
  text-align: center;
}
.item2 {
  background-color: aqua;
  color: blue;
  font-size: 50px;
  width: 100px;
  margin: 10px;
  text-align: center;
}
.item3 {
  background-color: aqua;
  color: blue;
  font-size: 50px;
  width: 100px;
  margin: 10px;
  text-align: center;
}
.item4 {
  background-color: aqua;
  color: blue;
  font-size: 50px;
  width: 100px;
  margin: 10px;
  text-align: center;
}
.title {
  background-color: aqua;
  color: blue;
  font-size: 50px;
  width: 200px;
  text-align: center;
}
