body{
    background-color: rgb(0, 0, 0);
    color:rgb(253, 237, 15);
}
h1{
    color:pink;
    font-size: 50px;
}
h2{
    color:pink;
    font-size: 50px;
}
h3{
    color:pink;
    font-size: 50px;
}
ol.Part3>li{
    list-style-type: circle;
}
ol.Part3innerol{
    list-style-type: upper-roman;
    color: rgb(79, 243, 64);
}
p{font-size: 35px;}